<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About")}</h1>
        
        <p><span style="font-family:tahoma,geneva,sans-serif;">Verantwortlich f&uuml;r den Inhalt im Sinne des &sect;6 MDStV:</span></p>

		<p><span style="font-family:tahoma,geneva,sans-serif;"><strong>compliance schulung</strong><br />
		Ein Projekt der Kurse.de SL GmbH</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">Senefelderstr. 23</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">12247 Berlin<br />
		E-Mail:&nbsp;<a href="mailto:info@compliance-schulung.eu">info@compliance-schulung.eu</a><br />
		Telefon: 01638821769</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">Ansprechpartner Klaus Schulz</span></p>
		
		<p><br />
		<span style="font-family:tahoma,geneva,sans-serif;">Wir bitten unsere Allgemeinen Gesch&auml;ftsbedingungen und Datenschutzbestimmungen zu beachten. Dar&uuml;ber hinaus sind diese Impressums-Bestimmungen ebenfalls valide f&uuml;r&nbsp;die Social-Media-Pr&auml;senzen von compliance schulung (u.a. Facebook, Twitter, Google Plus, Xing, LinkedIn, SlideShare, YouTube und Pinterest).</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">Im Falle von wettbewerbsrechtlichen, domainrechtlichen, urheberrechtlichen, markenrechten oder &auml;hnlichen Problemen bitten wir Sie, uns zur Vermeidung unn&ouml;tiger Rechtsstreite und Kosten bereits im Vorfeld zu kontaktieren. Die Kostennote einer anwaltlichen Abmahnung ohne vorhergehende Kontaktaufnahme wird im Sinne der Schadensminderungspflicht als unbegr&uuml;ndet zur&uuml;ckgewiesen!</span></p>
		
		<p>&nbsp;</p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">Fotolia:</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">&copy; sepy &ndash;&nbsp;<a href="http://fotolia.com/">Fotolia.com</a></span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">Alle Bilder auf dieser Seite unterliegen der Creative-Commons-Lizenz (Namensnennung-Keine Bearbeitung, CC BY-ND; Link zumrechtsverbindlichen Lizenzvertrag). Ausgenommen sind anders gekennzeichnete Bilder unter anderem von Fotolia, istockphoto sowie Pressefotos oder eigenes Bildmaterial.</span></p>
		
		<p>&nbsp;</p>
    </section>
</main>
