<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h2 align="center"><span style="font-family:tahoma,geneva,sans-serif;"><strong>Allgemeine Gesch&auml;ftsbedingungen</strong></span></h2>

		<h2 align="center"><span style="font-family:tahoma,geneva,sans-serif;"><strong>compliance-schulung.eu</strong></span></h2>
		
		<h2>&nbsp;</h2>
		
		<h2 align="center"><span style="font-family:tahoma,geneva,sans-serif;"><strong>Allgemeiner Teil</strong></span></h2>
		
		<p>&nbsp;</p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;"><strong>&sect; 1 Geltungsbereich</strong></span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(1)&nbsp;&nbsp;&nbsp; Die nachfolgenden Allgemeinen Gesch&auml;ftsbedingungen gelten f&uuml;r s&auml;mtliche Vertr&auml;ge zwischen compliance-schulung.eu und ihren Kunden.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(2)&nbsp;&nbsp;&nbsp; Die Vorschriften des Allgemeinen Teils gelten f&uuml;r alle Kunden.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(3)&nbsp;&nbsp;&nbsp; Verwendet der Kunde selbst Allgemeine Gesch&auml;ftsbedingungen, gelten dennoch nur die nachfolgenden Allgemeinen Gesch&auml;ftsbedingungen, es sei denn der Kunde und compliance-schulung.eu haben etwas anderes vereinbart.</span></p>
		
		<p>&nbsp;</p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;"><strong>&sect; 2 Gender-Hinweis</strong></span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">Aus Gr&uuml;nden der besseren Lesbarkeit wird auf die gleichzeitige Verwendung m&auml;nnlicher und weiblicher Sprachformen verzichtet. S&auml;mtliche Personenbezeichnungen gelten f&uuml;r beide Geschlechter.</span></p>
		
		<p>&nbsp;</p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;"><strong>&sect; 3 Salvatorische Klausel, Geltendes Recht</strong></span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(1)&nbsp;&nbsp;&nbsp; Sollten einzelne Bestimmungen dieser Allgemeinen Gesch&auml;ftsbedingungen ganz oder teilweise unwirksam sein oder werden, wird hierdurch die G&uuml;ltigkeit der Allgemeinen Gesch&auml;ftsbedingungen im &Uuml;brigen nicht ber&uuml;hrt. An die Stelle der unwirksamen Regelung treten die gesetzlichen Bestimmungen mit der Ma&szlig;gabe des von den Parteien wirtschaftlich gewollten. Das gleiche gilt, soweit die Allgemeinen Gesch&auml;ftsbedingungen eine nicht vorgesehene Regelungsl&uuml;cke enthalten.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(2)&nbsp;&nbsp;&nbsp; Es gilt das Recht der Bundesrepublik Deutschland.</span></p>
		
		<p>&nbsp;</p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;"><strong>&sect; 4 Schriftformerfordernis</strong></span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">&Auml;nderungen des Vertrages bed&uuml;rfen der Schriftform. Dies gilt auch f&uuml;r den Verzicht auf die Schriftform selbst. Der gesetzliche Vorrang der Individualabrede bleibt unber&uuml;hrt.</span></p>
		
		<p>&nbsp;</p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;"><strong>&sect; 5 Haftungsbeschr&auml;nkungen</strong></span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(1)&nbsp;&nbsp;&nbsp; S&auml;mtliche der nachfolgenden Haftungsbeschr&auml;nkungen gelten nicht,</span></p>
		
		<ol>
			<li><span style="font-family:tahoma,geneva,sans-serif;">wenn compliance-schulung.eu seine Pflichten vors&auml;tzlich und/oder grob fahrl&auml;ssig verletzt,</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">wenn compliance-schulung.eu vertragswesentliche Pflichten verletzt,</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">im Falle einer Verletzung des Leibes, des Lebens und/oder der Gesundheit,</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">bei arglistigem Verhalten,</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">im Falle einer wirksamen Garantie&uuml;bernahme &uuml;ber Beschaffenheitsmerkmale oder</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">im Falle zwingender gesetzlicher Haftung.</span></li>
		</ol>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(2)&nbsp;&nbsp;&nbsp; Im Falle der leichtfahrl&auml;ssigen Verletzung vertragswesentlicher Pflichten ist die Haftung auf vertragstypische, vorhersehbare Sch&auml;den begrenzt.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(3)&nbsp;&nbsp;&nbsp; compliance-schulung.eu haftet nicht f&uuml;r die Vollst&auml;ndigkeit und/oder Richtigkeit der zur Verf&uuml;gung gestellten Informationen, soweit diese von Dritten, die nicht Erf&uuml;llungsgehilfen von compliance-schulung.eu sind, zu verantworten sind.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(4)&nbsp;&nbsp;&nbsp; compliance-schulung.eu haftet nicht f&uuml;r Sch&auml;den, die au&szlig;erhalb ihres Risikobereichs, von dritter Seite oder durch h&ouml;here Gewalt verursacht wurden.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(5)&nbsp;&nbsp;&nbsp; Sollten Dritte und/oder Kunden compliance-schulung.eu wegen eines Tun, Duldens oder Unterlassens, das einem anderen Kunden zuzurechnen ist (verantwortliche Kunde), in Anspruch nehmen, ist der verantwortliche Kunde verpflichtet,</span></p>
		
		<ol>
			<li><span style="font-family:tahoma,geneva,sans-serif;">compliance-schulung.eu hinsichtlich jedweder Haftung schadlos zu halten,</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">compliance-schulung.eu jedwede Aufwendungen und sonstigen Kosten zu ersetzen, die wegen der Inanspruchnahme entstanden sind,</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">hinsichtlich der Aufwendungen und sonstigen Kosten i.S.d. von lit. b, insbesondere Kosten der Rechtsverteidigung, compliance-schulung.eu gegen&uuml;ber einen angemessenen Vorschuss zu leisten,</span></li>
			<li><span style="font-family:tahoma,geneva,sans-serif;">compliance-schulung.eu entsprechend der Grunds&auml;tze von Treu und Glauben mit s&auml;mtlichen Informationen und Unterlagen zu versorgen, die zur Rechtsverteidigung erforderlich sind.</span></li>
		</ol>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(6)&nbsp;&nbsp;&nbsp; Sofern und soweit der Kunde die Inanspruchnahme von compliance-schulung.eu nicht zu vertreten hat, entfallen die Pflichten nach &sect; 18 Absatz 2 dieser Allgemeinen Gesch&auml;ftsbedingungen.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(7)&nbsp;&nbsp;&nbsp; Alle weitergehenden Anspr&uuml;che unsererseits bleiben hiervon unber&uuml;hrt.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">&nbsp;&nbsp;</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;"><strong>&sect; 6 Grundpflichten- und Rechte der Vertragsparteien</strong></span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(1)&nbsp;&nbsp;&nbsp; Ein Kunde, der sich bei compliance-schulung.eu registriert, ist im Hinblick auf die Gestaltung seines Profils und sein sonstiges Nutzerverhalten verpflichtet, das jeweils geltende Recht zu achten und insbesondere nicht gegen gesetzliche Verbote oder die guten Sitten zu versto&szlig;en.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(2)&nbsp;&nbsp;&nbsp; Unter den in &sect; 6 Absatz 1 dieser Allgemeinen Gesch&auml;ftsbedingungen genannten Voraussetzungen kann compliance-schulung.eu ebenfalls ein bereits bestehendes Profil entfernen. compliance-schulung.eu verpflichtet sich, den Kunden hier&uuml;ber unverz&uuml;glich per E-Mail zu unterrichten. Nach der Entfernung des Profils hat der Kunde einen Anspruch auf Erstattung der f&uuml;r die Zeit nach der Entfernung bereits entrichteten Nutzungsentgelte.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(3)&nbsp;&nbsp;&nbsp; Der Kunde ist f&uuml;r die Inhalte seines Profils und der Angebote in dem Profil selbst verantwortlich. Der Kunde wird ggf. bestehende Schutzrechte, insbesondere Urheber- und Markenrechte nicht zu verletzen. Sofern Inhalte verwendet werden, die Lizenzgeb&uuml;hren, wie etwa GEMA-Geb&uuml;hren o.&auml;., begr&uuml;nden, zahlt der Kunde diese. F&uuml;r bereit gestellte Inhalte &uuml;bernimmt compliance-schulung.eu keine Verantwortung.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(4)&nbsp;&nbsp;&nbsp; compliance-schulung.eu und der Kunde sind sich einig, dass eine absolute Nutzbarkeit des unter www.compliance-schulung.eu betriebenen Portals nicht gew&auml;hrleistet ist. Insbesondere Wartungs-, Sicherheits- oder Kapazit&auml;tsbelange sowie technische Ereignisse, die sich dem Einfluss von compliance-schulung.eu entziehen, k&ouml;nnen zu St&ouml;rungen oder Ausf&auml;llen bei der Nutzung f&uuml;hren. Ersatzanspr&uuml;che bei diesen oder &auml;hnlichen Ausf&auml;llen stehen dem Nutzer nicht zu; vorbehaltlich der Grenzen des &sect; 5 Absatz 1 dieser Allgemeinen Gesch&auml;ftsbedingungen.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(5)&nbsp;&nbsp;&nbsp; Jeder Kunde, ist unabh&auml;ngig von der Frage, ob er sich registriert hat oder nicht, unterl&auml;sst es, Inhalte aus dem unter www.compliance-schulung.eu bereitgehaltenen Portal zu kopieren oder zu vervielf&auml;ltigen oder an Dritte weiterzugeben.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(6)&nbsp;&nbsp;&nbsp; Beide Vertragsparteien haben das Recht, den jeweils zustande kommenden Vertrag zu k&uuml;ndigen.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(7)&nbsp;&nbsp;&nbsp; compliance-schulung.eu gew&auml;hrleistet im Rahmen der technischen Anforderungen, dass das unter www.compliance-schulung.eu betriebene Portal den jeweils &uuml;blichen technischen Standards entspricht. Sofern der Kunde zus&auml;tzliche Audioquellen oder optische Effekte oder die Einf&uuml;gung von Pr&auml;sentationen oder anderer Dateien w&uuml;nscht, &uuml;bernimmt compliance-schulung.eu keine Gew&auml;hr f&uuml;r die Qualit&auml;t der Darstellung.</span></p>
		
		<p><span style="font-family:tahoma,geneva,sans-serif;">(8)&nbsp;&nbsp;&nbsp; compliance-schulung.eu &uuml;bernimmt keine Gew&auml;hrleistung f&uuml;r die Richtigkeit der Preisangaben der Nutzer. F&uuml;r die jeweiligen Inhalte sind die Nutzer selbst verantwortlich.</span></p>
		
		<p>&nbsp;</p>
    </section>
</main>
